
/*MOBILE FIRST*/
   

  @keyframes entradaSuave {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .titlecaa {
    display: flex;
    flex-direction: column !important;
    align-items: center;    
    gap: 24px;              
    margin-top: 20px;
    width: 100%;
    animation: entradaSuave 0.3s ease-out; /* Controla a velocidade de entrada da tela */
  }

  

  .titlecaa button {
    width: 80vw;            
    max-width: 240px;        
    aspect-ratio: 1 / 1;    
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
  }

  .titlecaa button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .titlecaa button:focus {
  outline: none;
}

.titlecaa button:focus-visible {
  outline: none;
}

 
  .titlecaa button:active {
   
    transform: scale(0.92) !important; 
    transition: transform 0.05s ease-out;
  }


  /*REGRAS  MOUSE (DESKTOP)*/
  @media (hover: hover) and (pointer: fine) {
    .titlecaa button:hover {
      transform: scale(1.08) !important; 
    }
  }


  /* DESKTOP (A partir de 768px)*/
 @media (min-width: 768px) {
  .titlecaa {
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 32px;
  }

  .titlecaa button {
    max-width: 240px;
  }
}